<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PeakMap</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
        <style>
            #map {
                height: 100vh;
            }
             .popup-img {
                max-width: 200px;
                display: block;
             }
        </style>
    </head>
    <body>
        <h1>PeakMap</h1>
        <div id="map"></div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>